/* MODAL WINDOW GENERALS */
.modal {
  background: rgba(0, 0, 0, 0.60);
  position: fixed;
  align-content: center;
  left: -10%;
}

.modal-dialog {
  margin-top: 10px;
  align-content: middle;
  width: 700px;
}

.modal-content {
  margin: 0px 10px 10px 10px;
  padding: 0px;
  border-radius: 20px;
  width: 100%;
}

.modal-dialog .modal-content .modal-header {
  background-color: #F4F4FF;
  color: #474F73;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-dialog .modal-content .modal-footer {
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 15px 25px 15px 0px;
  vertical-align: middle;

}

.modal-dialog .modal-content > div {
  margin: 0px;
  padding: 0px;
}

/* MODAL WINDOW TABLE */
.app-modal-body .table {
  margin: 0px;
  width: 100%;
}

 .app-modal-body .table > tbody > tr > th {
    background-color: #474F73;
    border: 0px;
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100px;
  }
  
 .app-modal-body .table > tbody > tr > #address-field {
  background-color: #F4F4FF;
  color: #474F73;
}

  .app-modal-body .table > tbody > tr > td {
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
  }
  
  .app-modal-body .table > tbody > tr > #itemWishlist {
    text-align: left;
    width: auto;
    padding-left: 10px;
  }

  .app-modal-body .table > tbody > tr > #itemWishlistElements {
    text-align: left;
    width: auto;
    padding-left: 10px;
    vertical-align: top;
  }
  
  .app-modal-body .table > tbody > tr > td > input {
    vertical-align: middle;
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  .app-modal-body .table > tbody > tr > #button-div > select {
    vertical-align: middle;;
    margin: 2px 0px 2px 0px;
    padding: 0px 0px 0px 7px;
    max-width: 360px;
    width: 90%;
    float: right;
  }

  #button-div {
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
  }
  
  #actual-value {
    min-width: 220px;
  }

  .app-modal-body .table tbody #clientWishlist {
    background-color: #F4F4FF;
    color: #474F73;
    height: auto;
  }
  
    /* BUTTON */

.app-modal-body .table > tbody > tr > #button-div > button {
  margin: 7px 0px 0px 0px;
  vertical-align: middle;
  float: left;
}

  .app-modal-footer > button {
    margin: 0px 0px 0px 20px;
    float: right;
}