<h1>
  Lost&Found Office<br>
  <small>{{subname}}</small>
</h1>

<div class="container">
  <div class="col-md-5">
    <input class="form-control" type="text" [(ngModel)]="searchInput" style="margin-bottom: 5px;"/>
    <table class="table table-hover" id="general-data">
      <thead>
        <tr>
          <th id="header" colspan="4">{{subname}}
          </th>
        </tr>
        <tr>
          <th id="id" (click)="sortByID();">ID</th>
          <th id="firstname" (click)="sortByFirstname();">Firstname</th>
          <th id="surname" (click)="sortBySurname();">Surname</th>
          <th id="city" (click)="sortByCity();">
            <div>City <button type="button" class="btn btn-success btn-sm" (click)="prepareEmtyClientToSave(); modal.show();"><span class="glyphicon glyphicon-plus"></span></button></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients | clientFilter:searchInput" [class.selected]="client === selectedClient">
          <td id="id" (click)="onClientSelect(client);">{{client.id}}</td>
          <td id="firstname" (click)="onClientSelect(client);">{{client.firstname}}</td>
          <td id="surname" (click)="onClientSelect(client);">{{client.surname}}</td>
          <td id="city" (click)="onClientSelect(client);">
            <div>{{client.address.city}} <button type="button" class="btn btn-danger btn-sm" (click)="deleteClientIfUserIsSure(client.id);"><span class="glyphicon glyphicon-trash"></span></button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-7">
    <table class="table table-hover" id="details" *ngIf="selectedClient && selectedClient.id">
      <thead>
        <tr>
          <th id="header" colspan="5">{{detailName}}</th>
        </tr>
        <tr>
          <th id="id">ID</th>
          <th id="firstname">Firstname</th>
          <th id="surname">Surname</th>
          <th id="address">Address</th>
          <th id="contact">Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="modal.show();">
          <td>{{selectedClient.id}}</td>
          <td>{{selectedClient.firstname}}</td>
          <td>{{selectedClient.surname}}</td>
          <td>{{selectedClient.address.addressNumber}} {{selectedClient.address.street}},
            <br>{{selectedClient.address.postcode}} {{selectedClient.address.city}}
            <br>{{valProcService.replaceUnderScores(selectedClient.address.country)}}</td>
          <td>{{selectedClient.contactData.email}}<br>{{selectedClient.contactData.phone}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table" id="wishlist" *ngIf="selectedClient && selectedClient.id">
      <thead>
        <tr>
          <th id="header" colspan="5">Wishlist</th>
        </tr>
        <tr>
          <th id="id">Item ID</th>
          <th id="itemName">Item</th>
          <th id="category">Category</th>
          <th id="status">Status</th>
          <th id="clientRating">Client's rating of the item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientItemWish of clientItemWishes" [class.selected]="clientItemWish.foundItem === selectedItem">
          <td>{{clientItemWish.foundItem.id}}</td>
          <td>{{clientItemWish.foundItem.itemName}}</td>
          <td>{{valProcService.replaceUnderScores(clientItemWish.foundItem.category)}}</td>
          <td>{{valProcService.replaceUnderScores(clientItemWish.foundItem.status)}}</td>
          <td>
            <rating [(ngModel)]="clientItemWish.clientRating" [readonly]="true"></rating>
          </td>
        </tr>

        <tr *ngIf="clientItemWishes.length === 0">
          <td colspan="5">
            <font color="gray">
              --- there is nothing on the list ---
            </font>
          </td>
        </tr>

      </tbody>
    </table>
    <button type="button" class="btn btn-default" (click)="setClientItemWishesToEmpty(); offClientSelect();" *ngIf="selectedClient && selectedClient.id"><span class="glyphicon glyphicon-hand-left"></span> hide details</button>
  </div>
</div>

<!-- FIND ITEM MODAL WINDOW -->
<client-modal #modal>
  <div class="app-modal-header">
    Client details
  </div>

  <div class="app-modal-body">
    <form #clientForm="ngForm">
      <table class="table" *ngIf="selectedClient">

        <tbody *ngIf="selectedClient.id">
          <tr>
            <th id="id">ID</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.id;else other_content">{{selectedClient.id}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td rowspan="4" id="edit-info"></td>
          </tr>

          <tr>
            <th id="version">Version</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.version !== null;else other_content">{{selectedClient.version}}</div>
              <ng-template #other_content></ng-template>
            </td>
          </tr>

          <tr>
            <th id="creationTime">Creation time</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.creationTime;else other_content">{{selectedClient.creationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
              <ng-template #other_content></ng-template>
            </td>
          </tr>

          <tr>
            <th id="modificationTime">Modification time</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.modificationTime;else other_content">{{selectedClient.modificationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
              <ng-template #other_content></ng-template>
            </td>
          </tr>
        </tbody>

        <tr>
          <th id="firstname">Firstname</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.firstname;else other_content">{{selectedClient.firstname}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedClient.firstname" name="firstname" pattern="[A-Z]{1}[a-z]{0,19}"
              required/></td>
        </tr>

        <tr>
          <th id="surname">Surname</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.surname;else other_content">{{selectedClient.surname}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedClient.surname" name="surname" pattern="[A-Z]{1}[a-z]{0,79}"
              required/></td>
        </tr>

        <tr>
          <th id="socialSecurityNumber">Social cecurity number</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.socialSecurityNumber;else other_content">{{selectedClient.socialSecurityNumber}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedClient.socialSecurityNumber" pattern="[0-9]{11}" name="socialSecurityNumber"
              required/></td>
        </tr>

        <tr>
          <th id="address">Address</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.address.id !== null;else create_new">{{selectedClient.address.id}}</div>
            <ng-template #create_new>
              <font color="gray">-- create new address --</font>
            </ng-template>
          </td>
          <td id="button-div">
            <button type="button" class="btn btn-default btn-xs" (click)="selectedClient.address.id = null"><span class="glyphicon glyphicon-pencil"></span></button>
            <select class="form-control" [(ngModel)]="selectedClient.address.id" name="address">
                <option *ngFor="let address of addresses" [value]="address.id">[{{address.id}}] {{address.addressNumber}} {{address.street}}, {{address.postcode}} {{address.city}}, {{valProcService.replaceUnderScores(address.country)}} </option>
              </select>
          </td>
        </tr>

        <tbody *ngIf="selectedClient.address.id === null">
          <tr>
            <th id="address-field">Number</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.address.addressNumber;else other_content">{{selectedClient.address.addressNumber}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td><input type="text" class="form-control" [(ngModel)]="selectedClient.address.addressNumber" name="addressNumber"
                required minlength="1" maxlength="5" /></td>
          </tr>

          <tr>
            <th id="address-field">Street</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.address.street;else other_content">{{selectedClient.address.street}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td><input type="text" class="form-control" [(ngModel)]="selectedClient.address.street" name="street" required minlength="1"
                maxlength="60" /></td>
          </tr>

          <tr>
            <th id="address-field">Postcode</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.address.postcode;else other_content">{{selectedClient.address.postcode}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td><input type="text" class="form-control" [(ngModel)]="selectedClient.address.postcode" name="postcode" required
                minlength="1" maxlength="10" /></td>
          </tr>

          <tr>
            <th id="address-field">City</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.address.city;else other_content">{{selectedClient.address.city}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td><input type="text" class="form-control" [(ngModel)]="selectedClient.address.city" name="city" required minlength="1"
                maxlength="60" /></td>
          </tr>

          <tr>
            <th id="address-field">Country</th>
            <td id="actual-value">
              <div *ngIf="selectedClient.address.country;else other_content">{{valProcService.replaceUnderScores(selectedClient.address.country)}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td id="colour">
              <select class="form-control" [(ngModel)]="selectedClient.address.country" name="country" required>
                    <option *ngFor="let country of countries" [value]="country">{{valProcService.replaceUnderScores(country)}}</option>
                  </select>
            </td>
          </tr>
        </tbody>

        <tr>
          <th id="phone">Phone</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.contactData.phone;else other_content">{{selectedClient.contactData.phone}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedClient.contactData.phone" pattern="[0-9()-]{4,20}"
              name="phone" required/></td>
        </tr>

        <tr>
          <th id="email">E-mail</th>
          <td id="actual-value">
            <div *ngIf="selectedClient.contactData.email;else other_content">{{selectedClient.contactData.email}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedClient.contactData.email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)+"
              name="email" required maxlength="45" /></td>
        </tr>

      </table>
    </form>
  </div>

  <div class="app-modal-footer">
    <button [disabled]="!clientForm.valid" type="button" class="btn btn-primary" (click)="saveOrUpdate(selectedClient); modal.hide();">Save changes & close</button>
    <button type="button" class="btn btn-default" (click)="justRefreshClient(selectedClient); modal.hide();">Close</button>
  </div>
</client-modal>
<!-- FIND ITEM MODAL WINDOW -->