<h1>
  Lost&Found Office<br>
  <small>{{subname}}</small>
</h1>

<div class="container">
  <div class="col-md-12">
      <input class="form-control" type="text" [(ngModel)]="searchInput" style="margin-bottom: 5px;"/>
    <table class="table table-hover" id="general-data">
      <thead>
        <tr>
          <th id="header" colspan="4">{{subname}}</th>
        </tr>
        <tr>
          <th id="id" (click)="sortByID();">ID</th>
          <th id="client" (click)="sortByClient();">Client</th>
          <th id="item" (click)="sortByItem();">Item</th>
          <th id="clientRating" (click)="sortByRating();">
            <div>Client rating <button type="button" class="btn btn-success btn-sm" (click)="prepareEmtyClientItemWishToSave(); modal.show();"><span class="glyphicon glyphicon-plus"></span></button></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clientItemWish of clientItemWishes | clientItemWishFilter:searchInput" [class.selected]="clientItemWish === selectedClientItemWish" id="row{{clientItemWish.id}}">
          <td id="id" (click)="onClientItemWishSelect(clientItemWish); getCurrentClientWishlist(selectedClientItemWish.client.id); modal.show();">{{clientItemWish.id}}</td>
          <td id="client" (click)="onClientItemWishSelect(clientItemWish); getCurrentClientWishlist(selectedClientItemWish.client.id); modal.show();">[{{clientItemWish.client.id}}] {{clientItemWish.client.firstname}} {{clientItemWish.client.surname}} ({{clientItemWish.client.address.city}})</td>
          <td id="item" (click)="onClientItemWishSelect(clientItemWish); getCurrentClientWishlist(selectedClientItemWish.client.id); modal.show();">[{{clientItemWish.foundItem.id}}] {{clientItemWish.foundItem.itemName}}, {{valProcService.replaceUnderScores(clientItemWish.foundItem.colour)}}<br>{{valProcService.replaceUnderScores(clientItemWish.foundItem.category)}}, {{valProcService.replaceUnderScores(clientItemWish.foundItem.status)}}
          </td>
          <td id="clientRating" (click)="onClientItemWishSelect(clientItemWish);">
            <div>
              <rating [(ngModel)]="clientItemWish.clientRating" [readonly]="true"></rating> <button type="button" id="deleteButton" class="btn btn-danger btn-sm" (click)="deleteClientItemWishIfUserIsSure(clientItemWish.id);"><span class="glyphicon glyphicon-trash"></span></button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- FIND ITEM MODAL WINDOW -->
  <client-item-wish-modal #modal>
    <div class="app-modal-header">
      Item details
    </div>
    <div class="app-modal-body">
      <form #clientItemWishForm="ngForm">
        <table class="table" *ngIf="selectedClientItemWish">

          <tbody *ngIf="selectedClientItemWish.id">
            <tr>
              <th id="id">ID</th>
              <td id="actual-value">
                <div *ngIf="selectedClientItemWish.id;else other_content">{{selectedClientItemWish.id}}</div>
                <ng-template #other_content></ng-template>
              </td>
              <td rowspan="4" id="edit-info"></td>
            </tr>

            <tr>
              <th id="version">Version</th>
              <td id="actual-value">
                <div *ngIf="selectedClientItemWish.version !== null;else other_content">{{selectedClientItemWish.version}}</div>
                <ng-template #other_content></ng-template>
              </td>
            </tr>

            <tr>
              <th id="creationTime">Creation time</th>
              <td id="actual-value">
                <div *ngIf="selectedClientItemWish.creationTime;else other_content">{{selectedClientItemWish.creationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
                <ng-template #other_content></ng-template>
              </td>
            </tr>

            <tr>
              <th id="modificationTime">Modification time</th>
              <td id="actual-value">
                <div *ngIf="selectedClientItemWish.modificationTime;else other_content">{{selectedClientItemWish.modificationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
                <ng-template #other_content></ng-template>
              </td>
            </tr>
          </tbody>

          <tr>
            <th id="client">Client (ID)</th>
            <td id="actual-value">
              <div *ngIf="selectedClientItemWish.client.id;else other_content">{{selectedClientItemWish.client.id}}</div>
              <ng-template #other_content>-</ng-template>
            </td>
            <td>
              <select class="form-control" [(ngModel)]="selectedClientItemWish.client.id" name="client" required (change)="getCurrentClientWishlist(selectedClientItemWish.client.id)" *ngIf="!selectedClientItemWish.creationTime;else client_content">
                <option *ngFor="let client of clients" [value]="client.id">[{{client.id}}] {{client.firstname}} {{client.surname}} <div *ngIf="client.address.city">({{client.address.city}})</div></option>
              </select>
              <ng-template #client_content>{{selectedClientItemWish.client.firstname}} {{selectedClientItemWish.client.surname}}</ng-template>
            </td>
          </tr>

          <tr *ngIf="currentClientWishlist">
            <th id="clientWishlist">Current client's wishlist</th>
            <td id="actual-value" colspan="2" style="text-align: left; padding-left: 20px;">
              <div *ngIf="currentClientWishlist[0]">[{{currentClientWishlist[0].foundItem.id}}] {{currentClientWishlist[0].foundItem.itemName}}, {{valProcService.replaceUnderScores(currentClientWishlist[0].foundItem.category)}}, {{valProcService.replaceUnderScores(currentClientWishlist[0].foundItem.colour)}}</div>
              <div *ngIf="currentClientWishlist[1]">[{{currentClientWishlist[1].foundItem.id}}] {{currentClientWishlist[1].foundItem.itemName}}, {{valProcService.replaceUnderScores(currentClientWishlist[1].foundItem.category)}}, {{valProcService.replaceUnderScores(currentClientWishlist[1].foundItem.colour)}}</div>
              <div *ngIf="currentClientWishlist[2]">[{{currentClientWishlist[2].foundItem.id}}] {{currentClientWishlist[2].foundItem.itemName}}, {{valProcService.replaceUnderScores(currentClientWishlist[2].foundItem.category)}}, {{valProcService.replaceUnderScores(currentClientWishlist[2].foundItem.colour)}}</div>
            </td>
          </tr>

          <tr>
            <th id="foundItem">Found item (ID)</th>
            <td id="actual-value">
              <div *ngIf="selectedClientItemWish.foundItem.id;else other_content">{{selectedClientItemWish.foundItem.id}}</div>
              <ng-template #other_content>-</ng-template>
            </td>
            <td>
              <select class="form-control" [(ngModel)]="selectedClientItemWish.foundItem.id" name="foundItem" required (change)="checkIfItemAlreadyOccursOnCurrentClientWishlist(selectedClientItemWish.foundItem.id)" *ngIf="!selectedClientItemWish.creationTime;else item_content">
                  <option *ngFor="let foundItem of foundItems" [value]="foundItem.id">[{{foundItem.id}}] {{foundItem.itemName}}, {{valProcService.replaceUnderScores(foundItem.category)}}, {{valProcService.replaceUnderScores(foundItem.colour)}}</option>
                </select>
                <ng-template #item_content>{{selectedClientItemWish.foundItem.itemName}}, {{valProcService.replaceUnderScores(selectedClientItemWish.foundItem.category)}}, {{valProcService.replaceUnderScores(selectedClientItemWish.foundItem.colour)}}</ng-template>
            </td>
          </tr>

          <tr>
            <th id="clientRating">Rating</th>
            <td id="actual-value">
              <div *ngIf="selectedClientItemWish.clientRating;else other_content">{{selectedClientItemWish.clientRating}}</div>
              <ng-template #other_content>-</ng-template>
            </td>
            <td>
              <rating [(ngModel)]="selectedClientItemWish.clientRating" name="clientRating"></rating>
            </td>
          </tr>

        </table>
      </form>
    </div>

    <div class="app-modal-footer" *ngIf="selectedClientItemWish">
      <button [disabled]="
      !clientItemWishForm.valid
      || (!selectedClientItemWish.id && currentClientWishlist.length>=3)
      || (!selectedClientItemWish.id && checkIfItemAlreadyOccursOnCurrentClientWishlist(selectedClientItemWish.foundItem.id))
      || (!checkIfCurrentItemIsInDeposit(selectedClientItemWish.foundItem.id))
      " type="button" class="btn btn-primary" (click)="saveOrUpdate(selectedClientItemWish); offClientItemWishSelect(); modal.hide();">Save changes & close</button>
      <button type="button" class="btn btn-default" (click)="justRefreshClientItemWish(selectedClientItemWish); offClientItemWishSelect(); modal.hide();">Close</button>
    </div>
  </client-item-wish-modal>
  <!-- FIND ITEM MODAL WINDOW -->