h1 {
    color: #474F73;
    line-height: 65%;
  }

/* GENERAL DATA */
.container .col-md-12 {
    padding: 0px;
    margin: 0px;
}

.container .col-md-12 .table-hover {
    width: 100%;
}

.container .col-md-12 .table-hover #header {
    background-color: #F4F4FF;
    color: #474F73;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.container .col-md-12 .table-hover > thead > tr > th {
    background-color: #474F73;
    font-weight: bold;
    border: 0px;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
}

.container .col-md-12 .table-hover tr > #id {
    width: 5%;
    padding: 8px 3px 8px 3px;
    table-layout: fixed;
}

.container .col-md-12 .table-hover tr > #client {
    width: 35%;
    padding: 8px 1px 8px 1px;
    table-layout: fixed;
}

.container .col-md-12 .table-hover tr > #item {
    width: 35%;
    padding: 8px 1px 8px 1px;
    table-layout: fixed;
}

.container .col-md-12 .table-hover tr > #clientRating {
    width: 25%;
    margin: 0px;
    padding: 8px 1px 8px 1px;
    vertical-align: middle;
    table-layout: fixed;
}

.container .col-md-12 .table-hover tr > #clientRating > div {
    width: 100%;
    margin: 4px 0px 0px 0px;
    vertical-align: middle;
}

.container .col-md-12 .table-hover tr > #clientRating > div > button {
    float: right;
    margin: auto;
    margin: -4px 5px 0px 2px;
}


.container .col-md-12 .table-hover tr > #clientRating > div > #deleteButton {
    margin: 3px 5px 5px 2px;
}

.container .col-md-12 .table-hover > tbody > tr > td {
    vertical-align: middle;
}

.container .col-md-12 .table-hover > tbody > tr:hover {
    background-color: #F4F4FF;
    cursor: pointer;
}

.container .col-md-12 .table-hover > thead > tr > th:hover {
    cursor: pointer;
    background-color: #586186;
}

.container .col-md-12 .table-hover > tbody > tr.selected {
    background-color: #F4F4FF;
}

.container .col-md-12 .table-hover > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

.container .col-md-12 .table-hover > thead > tr > #header:hover {
    cursor: default;
}

/* CONTAINER */
.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container > div {
    vertical-align: top;
    float: left;
}