/* CONTAINER */
.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container > div {
    vertical-align: middle;
}

button {
    height: 100px;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #F4F4FF;
    color: #474F73;
    border: 2px solid #474F73;
    display: inline-block;
    width: 60%;
    margin: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #474F73;
    color: #F4F4FF;
}