<h1>
    Lost&Found Office<br>
    <small>{{subname}}</small>
</h1>

<div class="container">
    <div class="col-md-12">

        <a href="clients"><button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-user"></span> Clients</button></a><br>
        <a href="found_items"><button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-thumbs-up"></span> Found items</button></a><br>
        <a href="lost_items"><button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-thumbs-down"></span> Lost items</button></a><br>
        <a href="wishlist"><button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-star"></span> Wishlist</button></a>

    </div>
</div>