<h1>
  Lost&Found Office<br>
  <small>{{subname}}</small>
</h1>

<div class="container">
  <div class="col-md-5">
      <input class="form-control" type="text" [(ngModel)]="searchInput" style="margin-bottom: 5px;"/>
    <table class="table table-hover" id="general-data">
      <thead>
        <tr>
          <th id="header" colspan="4">{{subname}}</th>
        </tr>
        <tr>
          <th id="id" (click)="sortByID();">ID</th>
          <th id="itemName" (click)="sortByItemName();">Item</th>
          <th id="category" (click)="sortByCategory();">Category</th>
          <th id="status" (click)="sortByStatus();">
            <div>Status <button type="button" class="btn btn-success btn-sm" (click)="prepareEmtyFoundItemToSave(); modal.show();"><span class="glyphicon glyphicon-plus"></span></button></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foundItem of foundItems | foundItemFilter:searchInput" [class.selected]="foundItem === selectedFoundItem">
          <td id="id" (click)="onFoundItemSelect(foundItem);">{{foundItem.id}}</td>
          <td id="itemName" (click)="onFoundItemSelect(foundItem);">{{foundItem.itemName}}</td>
          <td id="category" (click)="onFoundItemSelect(foundItem);">{{valProcService.replaceUnderScores(foundItem.category)}}</td>
          <td id="status" (click)="onFoundItemSelect(foundItem);">
            <div>{{valProcService.replaceUnderScores(foundItem.status)}} <button type="button" class="btn btn-danger btn-sm" (click)="deleteFoundItemIfUserIsSure(foundItem.id);"><span class="glyphicon glyphicon-trash"></span></button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-7">
    <table class="table table-hover" id="details" *ngIf="selectedFoundItem && selectedFoundItem.id">
      <thead>
        <tr>
          <th id="header" colspan="6">{{detailName}}</th>
        </tr>
        <tr>
          <th id="id">ID</th>
          <th id="itemName">Item</th>
          <th id="category">Category</th>
          <th id="status">Status</th>
          <th id="foundWhere">Found where</th>
          <th id="foundWhen">Found when</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="modal.show();">
          <td>{{selectedFoundItem.id}}</td>
          <td>{{selectedFoundItem.itemName}}</td>
          <td>{{valProcService.replaceUnderScores(selectedFoundItem.category)}}</td>
          <td>{{valProcService.replaceUnderScores(selectedFoundItem.status)}}</td>
          <td>{{selectedFoundItem.foundWhere}}</td>
          <td>{{selectedFoundItem.foundWhen}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table" id="wishlist" *ngIf="selectedFoundItem && selectedFoundItem.id">
      <thead>
        <tr>
          <th id="header" colspan="5">Wishlist</th>
        </tr>
        <tr>
          <th id="id">Client ID</th>
          <th id="firstname">Firstname</th>
          <th id="surname">Surname</th>
          <th id="city">City</th>
          <th id="clientRating">Client's rating of the item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foundItemClientWish of foundItemClientWishes" [class.selected]="foundItemClientWish.client === selectedClient">
          <td id="id">{{foundItemClientWish.client.id}}</td>
          <td id="firstname">{{foundItemClientWish.client.firstname}}</td>
          <td id="surname">{{foundItemClientWish.client.surname}}</td>
          <td id="city">{{foundItemClientWish.client.address.city}}</td>
          <td id="clientRating">
            <rating [(ngModel)]="foundItemClientWish.clientRating" [readonly]="true"></rating>
          </td>
        </tr>

        <tr *ngIf="foundItemClientWishes.length === 0">
          <td colspan="5">
            <font color="gray">
              --- there is nothing on the list ---
            </font>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-default" (click)="setFoundItemClientWishesToEmpty(); offFoundItemSelect();" *ngIf="selectedFoundItem && selectedFoundItem.id"><span class="glyphicon glyphicon-hand-left"></span> hide details</button>
</div>

<!-- FIND ITEM MODAL WINDOW -->
<found-item-modal #modal>
  <div class="app-modal-header">
    Item details
  </div>

  <div class="app-modal-body">
    <form #itemForm="ngForm">
      <table class="table" *ngIf="selectedFoundItem">

        <tbody *ngIf="selectedFoundItem.id">
          <tr>
            <th id="id">ID</th>
            <td id="actual-value">
              <div *ngIf="selectedFoundItem.id;else other_content">{{selectedFoundItem.id}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <th id="itemWishlist">Wishlist of current item</th>
          </tr>

          <tr>
            <th id="version">Version</th>
            <td id="actual-value">
              <div *ngIf="selectedFoundItem.version !== null;else other_content">{{selectedFoundItem.version}}</div>
              <ng-template #other_content></ng-template>
            </td>
            <td rowspan="3" id="itemWishlistElements">
                <div *ngFor="let itemWish of foundItemClientWishes">[{{itemWish.client.id}}] {{itemWish.client.firstname}} {{itemWish.client.surname}} ({{itemWish.creationTime | date:'y-MM-dd HH:mm:ss:ms'}})</div>
            </td>
          </tr>

          <tr>
            <th id="creationTime">Creation time</th>
            <td id="actual-value">
              <div *ngIf="selectedFoundItem.creationTime;else other_content">{{selectedFoundItem.creationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
              <ng-template #other_content></ng-template>
            </td>
          </tr>

          <tr>
            <th id="modificationTime">Modification time</th>
            <td id="actual-value">
              <div *ngIf="selectedFoundItem.modificationTime;else other_content">{{selectedFoundItem.modificationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
              <ng-template #other_content></ng-template>
            </td>
          </tr>
        </tbody>

        <tr>
          <th id="itemName">Item name</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.itemName;else other_content">{{selectedFoundItem.itemName}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedFoundItem.itemName" name="itemName" required minlength="1" maxlength="70"/></td>
        </tr>

        <tr>
          <th id="category">Category</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.category;else other_content">{{valProcService.replaceUnderScores(selectedFoundItem.category)}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="selectedFoundItem.category" name="category" required>
            <option *ngFor="let category of categories" [value]="category">{{valProcService.replaceUnderScores(category)}}</option>
          </select>
          </td>
        </tr>

        <tr>
          <th id="foundWhen">Found when</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.foundWhen;else other_content">{{selectedFoundItem.foundWhen}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td id="date"><input type="date" class="form-control" [(ngModel)]="selectedFoundItem.foundWhen" name="foundWhen" required/></td>
        </tr>

        <tr>
          <th id="foundWhere">Found where</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.foundWhere;else other_content">{{selectedFoundItem.foundWhere}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedFoundItem.foundWhere" name="foundWhere" required maxlength="150"/></td>
        </tr>

        <tr>
          <th id="colour">Colour</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.colour;else other_content">{{selectedFoundItem.colour}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td id="colour">
            <select class="form-control" [(ngModel)]="selectedFoundItem.colour" name="colour" required>
            <option *ngFor="let colour of colours" [value]="colour">{{valProcService.replaceUnderScores(colour)}}</option>
          </select>
          </td>
        </tr>

        <tr>
          <th id="weight">Weight</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.weight;else other_content">{{selectedFoundItem.weight}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td><input type="text" class="form-control" pattern="([0-9]*[.])?[0-9]+" [(ngModel)]="selectedFoundItem.weight" name="weight"
              required/></td>
        </tr>

        <tr>
          <th id="reportedByClient">Reported by client (ID)</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.reportedByClient.id;else other_content">{{selectedFoundItem.reportedByClient.id}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td id="button-div">
            <button type="button" class="btn btn-default btn-xs" (click)="selectedFoundItem.reportedByClient.id = null"><span class="glyphicon glyphicon-remove"></span></button>
            <select class="form-control" [(ngModel)]="selectedFoundItem.reportedByClient.id" name="reportedByClient">
              <option *ngFor="let client of clients" [value]="client.id">[{{client.id}}] {{client.firstname}} {{client.surname}} <div *ngIf="client.address.city">({{client.address.city}})</div></option>
            </select>
          </td>
        </tr>

        <tr>
          <th id="status">Status</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.status;else other_content">{{valProcService.replaceUnderScores(selectedFoundItem.status)}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="selectedFoundItem.status" name="status" required (change)="checkIfFoundItemAwaitingTimeWasLongEnough(selectedFoundItem); getFirstClientToCollect(selectedFoundItem);">
                  <option *ngFor="let status of statuses" [value]="status">{{valProcService.replaceUnderScores(status)}}</option>
              </select>
          </td>
        </tr>

        <tr>
          <th id="givenToClient">Given to client (ID)</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.givenToClient.id; else other_content">{{selectedFoundItem.givenToClient.id}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td id="button-div">
            <button type="button" class="btn btn-default btn-xs" (click)="selectedFoundItem.givenToClient.id = null"><span class="glyphicon glyphicon-remove"></span></button>
            <select class="form-control" [(ngModel)]="selectedFoundItem.givenToClient.id" name="givenToClient" (change)="getFirstClientToCollect(selectedFoundItem);">
                        <option *ngFor="let client of clients" [value]="client.id">[{{client.id}}] {{client.firstname}} {{client.surname}} <div *ngIf="client.address.city">({{client.address.city}})</div></option>
                    </select>
          </td>
        </tr>

        <tr>
          <th id="outOfDepositSince">Out of deposite since</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.outOfDepositSince; else other_content">{{selectedFoundItem.outOfDepositSince}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td id="date"><input type="date" class="form-control" [(ngModel)]="selectedFoundItem.outOfDepositSince" name="outOfDepositSince"
            /></td>
        </tr>

        <tr>
          <th id="addDesc">Additional description</th>
          <td id="actual-value">
            <div *ngIf="selectedFoundItem.addDesc;else other_content" maxlength="250">{{selectedFoundItem.addDesc}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedFoundItem.addDesc" name="addDesc"  maxlength="250"/></td>
        </tr>

      </table>
    </form>
  </div>

  <div class="app-modal-footer" *ngIf="selectedFoundItem">
    <button [disabled]="
    !itemForm.valid
    || !valProcService.validateFoundItem(selectedFoundItem)
    || !isAwaitingTimeLongEnough
    || !isThisTheFirstClientToCollect
    " type="button" class="btn btn-primary"
      (click)="saveOrUpdate(selectedFoundItem); modal.hide();">Save changes & close</button>
    <button type="button" class="btn btn-default" (click)="justRefreshFoundItem(selectedFoundItem); modal.hide();">Close</button>
  </div>
</found-item-modal>
<!-- FIND ITEM MODAL WINDOW -->