h1 {
    color: #474F73;
    line-height: 65%;
  }

/* GENERAL DATA */
.container .col-md-5 {
    padding: 0px;
    margin: 0px;
}

.container .col-md-5 .table-hover {
    width: 100%;
}

.container .col-md-5 .table-hover #header {
    background-color: #F4F4FF;
    color: #474F73;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.container .col-md-5 .table-hover > thead > tr > th {
    background-color: #474F73;
    font-weight: bold;
    border: 0px;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
}

.container .col-md-5 .table-hover tr > #id {
    width: 10%;
    padding: 8px 3px 8px 3px;
    table-layout: fixed;
}

.container .col-md-5 .table-hover tr > #itemName {
    width: 20%;
    padding: 8px 1px 8px 1px;
    table-layout: fixed;
}

.container .col-md-5 .table-hover tr > #category {
    width: 30%;
    padding: 8px 1px 8px 1px;
    table-layout: fixed;
}

.container .col-md-5 .table-hover tr > #colour {
    width: 30%;
    margin: 0px;
    padding: 8px 1px 8px 1px;
    vertical-align: middle;
}

.container .col-md-5 .table-hover tr > #colour > div {
    width: 100%;
    margin: 5px 0px 0px 0px;
    vertical-align: middle;
}

.container .col-md-5 .table-hover tr > #colour > div > button {
    float: right;
    margin: auto;
    margin: -5px 5px 0px 2px;
}

.container .col-md-5 .table-hover > tbody > tr > td {
    vertical-align: middle;
}

.container .col-md-5 .table-hover > tbody > tr:hover {
    background-color: #F4F4FF;
    cursor: pointer;
}

.container .col-md-5 .table-hover > thead > tr > th:hover {
    cursor: pointer;
    background-color: #586186;
}

.container .col-md-5 .table-hover > tbody > tr.selected {
    background-color: #F4F4FF;
}

.container .col-md-5 .table-hover > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

.container .col-md-5 .table-hover > thead > tr > #header:hover {
    cursor: default;
}

/* DETAILS */
.container .col-md-7 #details {
    table-layout: fixed;
    width: 100%;
}

.container .col-md-7 #details #header {
    background-color: #F4F4FF;
    color: #474F73;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    vertical-align: middle;
}

.container .col-md-7 .table-hover tbody tr:hover {
    background-color: #F4F4FF;
    cursor: pointer;
}

.container .col-md-7 #details #id {
    width: 2%;
}

.container .col-md-7 #details #itemName {
    width: 20%;
}

.container .col-md-7 #details #category {
    width: 18%;
}

.container .col-md-7 #details #colour {
    width: 20%;
}

.container .col-md-7 #details #lostWhen {
    width: 20%;
}

.container .col-md-7 #details #lostWhere {
    width: 20%;
}

.container .col-md-7 #details > thead > tr > th {
    background-color: #474F73;
    font-weight: bold;
    border: 0px;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
}

.container .col-md-7 #details > tbody > tr > td {
    vertical-align: middle;
}

.container .col-md-7 #details > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

.container .col-md-7 #details > thead > tr > #header:hover {
    cursor: default;
}

/* CONTAINER */
.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container > div {
    vertical-align: top;
    float: left;
}