<h1>
  Lost&Found Office<br>
  <small>{{subname}}</small>
</h1>

<div class="container">
  <div class="col-md-5">
      <input class="form-control" type="text" [(ngModel)]="searchInput" style="margin-bottom: 5px;"/>
    <table class="table table-hover" id="general-data">
      <thead>
        <tr>
          <th id="header" colspan="4">{{subname}}</th>
        </tr>
        <tr>
          <th id="id" (click)="sortByID();">ID</th>
          <th id="itemName" (click)="sortByItemName();">Item</th>
          <th id="category" (click)="sortByCategory();">Category</th>
          <th id="colour" (click)="sortByColour();">
            <div>Colour <button type="button" class="btn btn-success btn-sm" (click)="prepareEmtyLostItemToSave(); modal.show();"><span class="glyphicon glyphicon-plus"></span></button></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lostItem of lostItems | lostItemFilter:searchInput" [class.selected]="lostItem === selectedLostItem" id="row{{lostItem.id}}">
          <td id="id" (click)="onLostItemSelect(lostItem);">{{lostItem.id}}</td>
          <td id="itemName" (click)="onLostItemSelect(lostItem);">{{lostItem.itemName}}</td>
          <td id="category" (click)="onLostItemSelect(lostItem);">{{valProcService.replaceUnderScores(lostItem.category)}}</td>
          <td id="colour" (click)="onLostItemSelect(lostItem);">
            <div>{{valProcService.replaceUnderScores(lostItem.colour)}} <button type="button" class="btn btn-danger btn-sm" (click)="deleteLostItemIfUserIsSure(lostItem.id);"><span class="glyphicon glyphicon-trash"></span></button></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-7">
    <table class="table table-hover" id="details" *ngIf="selectedLostItem && selectedLostItem.id">
      <thead>
        <tr>
          <th id="header" colspan="6">{{detailName}}</th>
        </tr>
        <tr>
          <th id="id">ID</th>
          <th id="itemName">Item</th>
          <th id="category">Category</th>
          <th id="colour">Colour</th>
          <th id="lostWhere">Lost where</th>
          <th id="lostWhen">Lost when</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onLostItemSelect(selectedLostItem); modal.show();">
          <td>{{selectedLostItem.id}}</td>
          <td>{{selectedLostItem.itemName}}</td>
          <td>{{valProcService.replaceUnderScores(selectedLostItem.category)}}</td>
          <td>{{valProcService.replaceUnderScores(selectedLostItem.colour)}}</td>
          <td>{{selectedLostItem.lostWhere}}</td>
          <td>{{selectedLostItem.lostWhen}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-default" (click)="offLostItemSelect();" *ngIf="selectedLostItem && selectedLostItem.id"><span class="glyphicon glyphicon-hand-left"></span> hide details</button>
  </div>
</div>

<!-- FIND ITEM MODAL WINDOW -->
<lost-item-modal #modal>
  <div class="app-modal-header">
    Item details
  </div>

  <div class="app-modal-body">
      <form #itemForm="ngForm">
    <table class="table" *ngIf="selectedLostItem">

      <tbody *ngIf="selectedLostItem.id">
        <tr>
          <th id="id">ID</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.id;else other_content">{{selectedLostItem.id}}</div>
            <ng-template #other_content></ng-template>
          </td>
          <td rowspan="4" id="edit-info"></td>
        </tr>

        <tr>
          <th id="version">Version</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.version !== null;else other_content">{{selectedLostItem.version}}</div>
            <ng-template #other_content></ng-template>
          </td>
        </tr>

        <tr>
          <th id="creationTime">Creation time</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.creationTime;else other_content">{{selectedLostItem.creationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
            <ng-template #other_content></ng-template>
          </td>
        </tr>

        <tr>
          <th id="modificationTime">Modification time</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.modificationTime;else other_content">{{selectedLostItem.modificationTime | date:'y-MM-dd HH:mm:ss Z'}}</div>
            <ng-template #other_content></ng-template>
          </td>
        </tr>
      </tbody>

      <tr>
        <th id="itemName">Item name</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.itemName;else other_content">{{selectedLostItem.itemName}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td><input type="text" class="form-control" [(ngModel)]="selectedLostItem.itemName" name="itemName" required minlength="1" maxlength="70"/></td>
      </tr>

      <tr>
        <th id="category">Category</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.category;else other_content">{{valProcService.replaceUnderScores(selectedLostItem.category)}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="selectedLostItem.category" name="category" required>
            <option *ngFor="let category of categories" [value]="category">{{valProcService.replaceUnderScores(category)}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <th id="lostWhen">Lost when</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.lostWhen;else other_content">{{selectedLostItem.lostWhen}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td id="date"><input type="date" class="form-control" [(ngModel)]="selectedLostItem.lostWhen" name="lostWhen"/></td>
      </tr>

      <tr>
        <th id="lostWhere">Lost where</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.lostWhere;else other_content">{{selectedLostItem.lostWhere}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td><input type="text" class="form-control" [(ngModel)]="selectedLostItem.lostWhere" name="lostWhere" maxlength="150"/></td>
      </tr>

      <tr>
        <th id="colour">Colour</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.colour;else other_content">{{selectedLostItem.colour}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td id="colour">
          <select class="form-control" [(ngModel)]="selectedLostItem.colour" name="colour" required>
            <option *ngFor="let colour of colours" [value]="colour">{{valProcService.replaceUnderScores(colour)}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <th id="weight">Weight</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.weight;else other_content">{{selectedLostItem.weight}}</div>
          <ng-template #other_content></ng-template>
        </td>
        <td><input type="text" class="form-control" [(ngModel)]="selectedLostItem.weight" pattern="([0-9]*[.])?[0-9]+" name="weight" required/></td>
      </tr>

      <tr>
        <th id="reportedByClient">Reported by client (ID)</th>
        <td id="actual-value">
          <div *ngIf="selectedLostItem.reportedByClient.id;else other_content">{{selectedLostItem.reportedByClient.id}}</div>
          <ng-template #other_content>-</ng-template>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="selectedLostItem.reportedByClient.id" name="reportedByClient" required>
              <option *ngFor="let client of clients" [value]="client.id">[{{client.id}}] {{client.firstname}} {{client.surname}} <div *ngIf="client.address.city">({{client.address.city}})</div></option>
            </select>
        </td>
      </tr>

      <tr>
          <th id="recognizedAsFoundItem">Recognized as found item (ID)</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.recognizedAsFoundItem.id;else other_content">{{selectedLostItem.recognizedAsFoundItem.id}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td id="button-div">
            <button type="button" class="btn btn-default btn-xs" (click)="selectedLostItem.recognizedAsFoundItem.id = null"><span class="glyphicon glyphicon-remove"></span></button>
            <select class="form-control" [(ngModel)]="selectedLostItem.recognizedAsFoundItem.id" name="recognizedAsFoundItem">
                <option *ngFor="let foundItem of foundItems" [value]="foundItem.id">[{{foundItem.id}}] {{foundItem.itemName}}, {{foundItem.category}}, {{foundItem.colour}} </option>
              </select>
          </td>
        </tr>

        <tr>
            <th id="isDealCompleted">Is the deal completed</th>
            <td id="actual-value">
              <div *ngIf="selectedLostItem.isDealCompleted !== null;else other_content">{{selectedLostItem.isDealCompleted}}</div>
              <ng-template #other_content>-</ng-template>
            </td>
            <td>
                <input type="radio" [(ngModel)]="selectedLostItem.isDealCompleted" [value]=true name="isDealCompleted"/> true <br>
                <input type="radio" [(ngModel)]="selectedLostItem.isDealCompleted" [value]=false name="isDealCompleted"/> false
            </td>
          </tr>
      
      <tr>
          <th id="addDesc">Additional description</th>
          <td id="actual-value">
            <div *ngIf="selectedLostItem.addDesc;else other_content" maxlength="250">{{selectedLostItem.addDesc}}</div>
            <ng-template #other_content>-</ng-template>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="selectedLostItem.addDesc" name="addDesc" maxlength="250"/></td>
        </tr>
        
    </table>
    </form>
  </div>

  <div class="app-modal-footer">
    <button [disabled]="!itemForm.valid" type="button" class="btn btn-primary" (click)="saveOrUpdate(selectedLostItem); modal.hide();">Save changes & close</button>
    <button type="button" class="btn btn-default" (click)="justRefreshLostItem(selectedLostItem); modal.hide();">Close</button>
  </div>
</lost-item-modal>
<!-- FIND ITEM MODAL WINDOW -->