body {
  padding-top: 50px;
}

.starter-template {
  padding: 15px;
  text-align: center;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #474F73;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-nav > li > a {
  background-color: #474F73;
  color: #ffffff;
  font-weight: bolder;
}

.navbar.navbar-inverse.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #FFFFFF;
  background-color: #586186;
}

